.text {
    max-width: 1200px;
    margin: 0;
}

.text-content {
    font-size: 32px;
    margin: 0;
    font-family: "Noto Serif SC", serif;
    font-weight: 400;
    font-style: normal;
}
