.app_coach-content {
    display: flex;
    flex-direction: column;
    width: 100%;

    margin-top: 5rem;
}

.app_coach-content_quote {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.app_coach-content_quoteIcon {
    width: 47px;
    height: 40px;
    margin: 0 1rem 1rem 0;
}

.app_coach-sign {
    width: 100%;
    margin-top: 3rem;
}

.app_coach-sign p:first-child {
    font-family: "Noto Serif SC", serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 41.6px;
    letter-spacing: 0.04em;
    color: gold;
}



@media screen and (min-width: 2000px) {
    .app_coach-sign img {
        width: 370px;
    }
}

@media screen and (max-width: 450px) {
    .app_coach-sign img {
        width: 80%;
    }
}