.app_footer {
    width: auto;
    position: relative;
    z-index: 1;

    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;

    background: black;
    padding-top: 0;
}

.app_newsletter {
    padding: 2rem 4rem;
    border: 1px solid gold;
    background: black;
}

.app_newsletter-heading {
    text-align: center;
}

.app_newsletter-input {
    flex-direction: row;
    margin-top: 3rem;
}

.app_newsletter-input input {
    width: 620px;
    border: 1px solid gold;
    border-radius: 5px;
    font-size: 1rem;
    font-family: "Noto Serif SC", serif;
    color: black;
    
    margin-right: 2rem;
    padding: 0.75rem 1rem;
}

.app_newsletter-input button {
    width: max-content;
}


.app_footer-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-top: 5rem;
    padding: 0 2rem;
}

.app_footer-links_contact,
.app_footer-links_logo,
.app_footer-links_work {
    flex: 1;
    margin: 1rem;
    text-align: center;
}

.app_footer-links_logo img:first-child {
    width: 210px;
    margin-bottom: 0.75rem;
}


.app_footer-links_work p:nth-child(2n + 1) {
    margin-bottom: 1rem;
}

.app_footer-links_icons {
    margin-top: 0.5rem;
}

.app_footer-links_icons svg {
    color: white;
    margin: 0.5rem;
    font-size: 24px;
    cursor: pointer;
}

.app_footer-links_icons svg:hover {
    color: gold;
}

.app_footer-headtext {
    font-family: "Noto Serif SC", serif;;
    color: white;
    font-weight: 400;
    letter-spacing: 0.04em;
    font-size: 32px;
    line-height: 41.6px;
    margin-bottom: 1rem;
}


@media screen and (min-width: 2000px) {
    .app_newsletter-input input {
        font-size: 2rem;
    }

    .app_footer-headtext {
        font-size: 51px;
        line-height: 61.6px;
    }
}

@media screen and (max-width: 1150px) {
    .app_footer-links {
        align-items: center;
        flex-direction: column;
        padding: 0;
    }

    .app_footer-links_contact,
    .app_footer-links_logo,
    .app_footer-links_work {
        margin: 2rem 0;
        width: 100%;
    }
}

@media screen and (max-width: 990px) {
    .app_newsletter-input {
        flex-direction: column;
        width: 100%;
    }

    .app_newsletter-input input {
        margin: 0 0 2rem 0;
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .app_footer {
        padding: 0 0 2rem 0;
    }
    .app_newsletter {
        padding: 2rem 0;
        border: none;
    }
}

@media screen and (max-width: 350px) {
    .app_footer-links_logo img:first-child {
        width: 80%;
    }
}

@media screen and (max-width: 300px) {
    .app_newsletter-heading h1 {
        font-size: 32px;
        line-height: 50px;
    }
}