.App {
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: aliceblue;

    font-family: "Noto Serif SC", serif;
    font-weight: 400;
    font-style: normal;
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.p_noto {
    font-family: "Noto Serif SC", serif;
    color: white;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 28px;
    font-size: 16px;
}

.h_zcool {
    font-family: "ZCOOL XiaoWei", sans-serif;
    color: white;
    font-size: 64px;
    line-height: 83.2px;
    letter-spacing: 0.04em;
}

.p_zcool {
  font-family: "ZCOOL XiaoWei", sans-serif;
  color: white;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: 'tnum' on, 'lnum' on;
  line-height: 29.9px;
  font-size: 23px;
}


.custom_button {
    background-color: gold;
    color: black;
    font-family: "ZCOOL XiaoWei", sans-serif;
    font-weight: 600;
    letter-spacing: 0.04em;
    line-height: 28px;
    font-size: 20px;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
}

.custom_button:hover {
    animation: shake 0.5s;
}

.app_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    min-height: 100vh;
}
  
.app_wrapper_info {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
  
.app_wrapper_img {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    box-shadow: 3rem -4rem gold;
}
  
.app_wrapper_img-reverse {
    justify-content: flex-start;
    margin-right: 2rem;
    box-shadow: -3rem 4rem gold;
}
  
.app_wrapper_img img {
    width: 100%; 
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.section_padding {
    padding: 4rem 6rem;
}


@media screen and (min-width: 2000px) {
    .custom_button,
    .p_zcool {
      font-size: 37px;
      line-height: 67px;
    }
  
    .p_noto {
      font-size: 30px;
      line-height: 50px;
    }
  
    .h_zcool {
      font-size: 150px;
      line-height: 210px;
    }
}

@media screen and (max-width: 1150px) {
    .app_wrapper {
      flex-direction: column;
    }
  
    .app_wrapper_img {
      margin: 5rem 0 0 0;
    }
  
    .app_wrapper_img-reverse {
      margin: 0 0 5rem 0;
    }
  
    .app_wrapper_img img {
      width: 100%;
    }
}

  
@media screen and (max-width: 850px) {
    .section_padding {
      padding: 4rem;
    }

    .app_wrapper_img {
      box-shadow: 1.5rem -2rem gold;
    }
    

    .app_wrapper_img-reverse {
      box-shadow: -1.5rem 2rem gold;
    }
    
}
  
@media screen and (max-width: 650px) {
    .section_padding {
      padding: 4rem 2rem;
    }
    
    .p_noto {
      font-size: 21px;
    }
  
    .p_zcool {
      font-size: 14px;
    }
}
  
@media screen and (max-width: 450px) {
    .p_noto {
      font-size: 12px;
    }
  
    .p_zcool {
      font-size: 19px;
    }
  
    .h_zcool {
      font-size: 45px;
      line-height: 70px;
    }
}
  